* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {

  --bg-pattern-2: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");

  /* ---------- Dark Theme ----------*/
   --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --bg-format-color:#12181b;
  --color-white: #fff;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-5: #2a2a35;
  --color-grey-6: #12181b; 
  
  --bg-pattern: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%239C92AC' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
 
  /* -------------------------------------- */
 



  --box-shadow-1: 0 3px 5px rgba(0, 0, 0, 0.3);
  --box-shadow-2: 0 0 50px rgba(0, 0, 0, 0.3);
  --logo-size-1: 2.2rem;
  --logo-size-2: 1.5rem;
 
 
}
:root.light-theme{

  /* --------------- Light Theme ----------------- */
  --color-primary: #fff7f4;
  --color-secondary: #ff883f;
  --bg-format-color:#ffe2d1;
  --color-white: #2a160a;

  --color-grey-0: #352e2a;
  --color-grey-1: #352e2a;
  --color-grey-2: #2a140a;
  --color-grey-5: #fff7f4;
  /* --color-grey-6: #ffd3ba; */
  --color-grey-6: #fff7f2;


  --bg-pattern:url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23d9abc9' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
  
  /* ---------------------------- */
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--color-primary);
}
body::after{
  content: '';
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: transparent;
  background: var(--bg-pattern);
  z-index: -5;
}


/* ------- Utilities ---------- */
h1 {
  font-size: 15vmin;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 200;
  color: var(--color-white);
  letter-spacing: 0.8vmin;
}
h2 {
  font-weight: 400;
  font-size: 5vmin;
  text-align: center;
  color: var(--color-secondary);
}
h3 {
  color: var(--color-grey-1);
  margin-bottom: 3vmin;
  margin-left:10px;
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-format{
  padding: 15px;
  background-color: var(--bg-format-color);
  border-radius: 5px;
}
p {
  font-size: 1rem;
  color: var(--color-grey-1);
}

.btn{
  font-size: 1.1rem;
  padding: 8px 15px;
  color: var(--color-primary);
  font-family: 'Roboto',sans-serif;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
}
.btn:active {
  transform: scale(90%);
}


.transparent-btn{
  color: var(--color-grey-1);
  box-shadow: var(--box-shadow-1);
  border: 1px solid var(--color-secondary);
  transition: background 0.5s, transform 0.5s;
}
.filled-btn{
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-1);
  color: var(--color-grey-0);
  
}
.transparent-btn:hover{
  color:var(--color-white);
  background-color: var(--color-secondary);
}
.filled-btn:hover{
  color:var(--color-white); 
}


.social-link{
  color:var(--color-grey-0);
  text-align: center;
  font-size: 1.5rem;
  transition: color 1s, transform 0.5s;
}
.social-link:hover{
  color: var(--color-secondary);
  transform:scale(110%);
}
.social-link:active{
  transform: scale(50%);
}
.section{
  padding: 2% 5% 10% 5%;
  margin-bottom: 50px;
  margin-inline: 1.5%;
  box-shadow: var(--box-shadow-2);
  border-bottom: 1px solid var(--color-secondary);
  transition: opacity 2s, transform 1s;
}
.section.hidden-section{
  opacity: 0;   
  transform: translateX(-45%);
}
.section .section-content {
  display: flex;
  flex-wrap: wrap;
}

.theme-btn{
  color:var(--color-grey-1);
}

/* -------- Navigation -------- */

nav {
  padding: 10px 8vmin;
  background-color: var(--bg-format-color);
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  z-index: 10;
  transition: top 0.3s;
}


nav .nav-links {
  gap: 25px;
}
.nav-links .nav-link {
  color: var(--color-grey-2);
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  transition: transform 0.5s;
}
.nav-link:hover {
  color: var(--color-white);
}
.nav-link:active{
  transform: scale(90%);
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease;
}
.nav-link:hover::after {
  width: 100%;
}
nav .menu-btn,
.close-menu-btn {
  color: var(--color-grey-2);
  font-size: 1.5rem;
  display: none;
}
.close-menu-btn{
  border-color:var(--color-grey-1);
}
.menu-btn:hover {
  color: var(--color-white);
}


/* -------- Logo ------- */
.logo{
  font-size:var(--logo-size-1);
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  color:var(--color-white);
}
.logo span{
  color:var(--color-secondary);
}


/* ------- Home ------- */
.home {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  box-shadow: none;
  position: relative;
}
.home .btns{
  gap: 30px;
  position: absolute;
  bottom: 20%;
}


/* --------- About -------- */
.about{
 display: flex;
 justify-content: center;
 padding-top: 10%;
}
.about .profile-pic{
  background-color: var(--color-secondary);

}
.about-title-2{
  align-self: flex-start;
}
.about .section-content{
  column-gap: 50px;
}
.about .profile-pic {
  width: 50vmin;
  border-radius: 2vmin;
  box-shadow: var(--box-shadow-1);
  margin-bottom: 30px;
}
.about li {
  color: var(--color-grey-1);
  
  margin-bottom: 4vmin;
  
}
.about-info li{
  margin-left: 10px;
}
.skill .skill-img{
  width: 10vmin;
 
}

.skills{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skills .skill{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.skills h3{
  grid-column: 1 / -1;
}
.skill.hidden-skill{
  transform: translateY(100px);
  opacity:0;
}
.about-title-2{
  display: none;
}

/* ------- Specialities -------- */
.specialities .section-content {
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
}
.specialities .speciality {
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s ease;
}
.speciality h4{
  color: var(--color-grey-1);
}
.speciality-icon{
    font-size: 3rem;
    color:var(--color-secondary);
    margin-bottom: 1rem;
}

.speciality:hover{
  transform: translateY(-10px);
  background-color: var(--color-secondary);
}
.speciality:hover .speciality-icon{
  color: var(--color-white);
}
.speciality:hover p{
  color:var(--color-primary);
}



/* --------- My Work ----------- */
.my-work .section-content{
  /* gap: 30px; */
  gap:1.5vmin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.project-container{
  width: 100%;
  height: 520px;
 
  position: relative;
  /* border: 1px solid green; */
 overflow: hidden;
  display: flex;
  justify-content: center;
  scroll-behavior: none;
}

.project-gallary{
  
  width: 60%;
  position: relative;
  /* border: 1px solid red; */
}



.project{
  width: 70%;
  height: 70%;
  top:20%;
  position: absolute;
  opacity: 0.2;
  border-radius: 5px;
  transition: all 0.5s;
  background-color: var(--color-secondary);
  display: flex;

  flex-direction: column;
}
.project.active-project{
  opacity: 1;
  top:0;
  width:100%;
  height: 100%;
  box-shadow: 0 0 10px #00000082;
  z-index: 7;
}
.project img{
  object-fit: cover;
  width: 100%;
  height: 80%;
  object-position: top;
  border-radius: 5px 5px 0 0;
}
.project .project-info{
  padding:10px;
  width: 100%;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 1s, transform 0.5s;
}
.project-info h4{
  color:var(--color-primary);
}
.project.active-project .project-info{
  opacity: 1;
  transform: translateY(0);
}
.project-info .project-links{
  position: absolute;
  top:-30px;
  right:10px;
  display: flex;
}
.project-links .project-link{
  background-color: var(--color-primary);
  color:var(--color-secondary);
  padding:15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}
.project-link:first-child{
  margin-right: 20px;
}




.my-work .gallery-navigation{
  display: flex;
  width: 100%;
  gap: 25px;
  justify-content: center;
}
.btn-left, .btn-right{
  color: var(--color-grey-2);
  opacity: 0.6;
  font-size:2rem;
}
.btn-left:hover, .btn-right:hover{
  color: var(--color-grey-0);
  opacity: 1;
}


.indicator-dots{
  
  justify-content: space-between;
  width: 200px;
  padding: 10px 25px;
  border-radius: 10px;
}
.indicator-dot{
  width: 6px;
  height: 6px;
  background-color: var(--color-grey-2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.indicator-dot.active-dot{
  transform: scale(145%);
  background-color: var(--color-white);
  
}


/* ---------- Contact Me ---------- */
.contact .section-content{
  gap: 20px;
  justify-content: center;
}
.name-address{
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.contact .left{
  /* border: 1px solid #27ae5f; */
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 30%;
  gap: 50px;
}

.contact .social-media{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  row-gap: 20px;
}

.contact .social-media .btn-download{
 grid-column: 1 / -1;
 background-color: var(--color-secondary);
 text-align: center;
}

.contact .right{
  width: 60%;
  /* border: 1px solid yellow; */
  

}
.contact-form{
  width: 100%;
}
.contact-form input[type=text], input[type=email], textarea{
  display: block;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  border:none;
  color:var(--color-grey-1);
  background-color: var(--color-grey-5);
  resize: none;
}
.email, .phone{
  color: var(--color-grey-1);
  display: inline-block;
}
.my-name{
  color: var(--color-secondary);
  margin-bottom: 20px;
}
.email-icon, .phone-icon{
  font-size: 1.3rem;
  color: var(--color-secondary);
  margin-right: 15px;
}
.contact .btn{
  width: 200px;
  display: block;
  margin-inline: auto;
  
}
.contact .msg-sent{
  margin-top: 20px;
  text-align: center;
  color:var(--color-secondary);
  font-size:1.2rem;
}

/* -------- Footer -------- */
footer p{
  text-align: center;
}
footer .fa-heart{
  color: rgb(255, 50, 39);
}


@media only screen and (max-width: 800px) {
  p,li{
    font-size:0.83rem;
  }
  .btn{
    transform: scale(0.85);
  }
  .section{
    padding: 25px 5px;
    margin: 40px 0;
  }
  
  /* ------- Mobile Navigation ----- */
  .logo{
    font-size: var(--logo-size-2);
  }
  nav{
    padding: 5px 8vmin;
  }
  nav .nav-links {
    position: fixed;
    padding-top:60px;
    top: 0;
    right: -100vw;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-secondary);
    transition: right 0.5s ease-in-out;
    background-image: var(--bg-pattern-2);
    z-index: 10;
  }
  
  .nav-links.active-menu-bar {
    right: 0;
  }
  .nav-links .nav-link {
    color: var(--color-grey-6);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top:40px;
  }

  .nav-link::after {
    background-color: var(--color-grey-0);
  }
  nav .menu-btn {
    display: inline-block;
  }
  .close-menu-btn {
    display: inline-block;
    position: absolute;
    top: 5vmin;
    left: 10vmin;
    color: var(--color-grey-6);
  }

  /* -------- Mobile Home --------- */
  .home{
    transform: translateY(-15%);
  }
  /* -------- Mobile about ------- */
  .about-title-2{
    display: block;
  }
  .about-title-1{
    display: none;
  }
  .about .profile-pic {
    width: 70vmin;
  }
  
  .about .section-content {
    flex-direction: column;
    align-items: center;
  }

  .specialities .speciality{
    width: 100%;
  }

  /* ------- Mobile My Work -------- */
  .project-gallary{
    width: 100%;
  }
  .project-container{
    /* height:350px; */
    height: 450px;
    width:100%;
  }  
  .gallery-navigation{
    transform: scale(0.85);
  }
  

  /* -------- Mobile Contact --------- */
  .contact .left{
    width: 100%;
  }
  .contact .right {
    width: 100%;
  }

}

/* -------- Mobile landscape ------- */
@media only screen and (max-height: 600px){
  /* ------- Landscape Home ------ */
  /* .home .btns{
    bottom: 15%;
  } */

  /* -------- Landscape nav --------- */
  
 

  /* -------- Landscape my-work ----------- */
 
  .project-container{
    height: 280px;
  }
  .project-gallary{
    width:65%;
  }
  .project img{
    height:70%;
  }
  

}
